.skill-bg{
    background-image: url(img/pot.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.bg{
    background-color: rgb(243, 232, 74);
    
}
ul li a{
    text-decoration: none;
    font-family: arial;
    font-weight: 500;
}
li{
    list-style-type: none;
    display: inline-flex;
    padding: 1%;
    margin-top: 4vh;  
}
li:hover{
    background-color: yellow;
    
}
p{
    text-align: center;
}
.bw{
    background-color: rgb(236, 166, 233);
    color: white;
}
.photo{
    height: 260px;
    width: 300px;
    
    margin: 0 auto;
    cursor: pointer;
}
.fill{
    width: 100%;
    border-radius: 700px;
    box-shadow: 10px -10px 10px -10px rgba(0, 0, 0, 0.5);
}
.about-head{
    margin-top: 10px;
    text-align: center;
}
#home{
   position: relative;

}
.soft p{
    color: red;
}



.bor{
    border: 0px solid black;
}
.con{
    height: 550px;
}
.btn{
    width: 200px;
}
#me{
    scroll-behavior: smooth;
}
.logo-img{
    height: 250px;
    width: 250px;
    margin: 0 auto;
}
#skill{
    padding: 2%;
    margin-bottom: 100px;
}
.full{
    width: 100%;
    border-radius: 2px;
}
.full:hover{
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
/*skillset skill sec*/
.skillset{
    height: 280px;
}
.foot-box{
    height: 230px;
    background-color: #4b6584;
    color: white;
}
.mar-10{
    margin-top: 10px;
}
.box-1{
    height: 30px;
    width: 30px;
    padding: 1%;
}
.social{
    display: flex;
}
.container-fluid{
   background-color: pink;
    
}
.nav-brand{
    font-size: large;
}

@media (min-width:1024px){
    .btn1{
        margin-top: 30px;
    }
    .content{
      background-color: white;  
    }
    .soft{
        margin-top: 100px;
    }
    .social{
        margin-left: 130px;

    }
    .foot-box{
        height: 140px;
    }
}
.social{
    justify-content:center;
}
.card{
    border: none;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    margin-top: 5px;
}
.cen{
    text-align: center;
}
@media (max-width:768px){
    .maxx{
        margin-top: 0;
    }
    .yellow{
        display: none;
    }    
}
#project{
    color: navy;
    padding: 1%;
}
@media ((min-width:768px) and (max-width:1024px)){
    .foot-box{
        height: 140px;
    }
}
#type{
    border-right: 2px solid #000;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
}
   